<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug builds only: `scripts/benchmark.sh` compares the NPU and CPU backends -->
        <receiver
            android:name=".BenchmarkReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver"
            xmlns:tools="http://schemas.android.com/tools" />
    </application>
</manifest>
